.calculator {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen {
  margin: 5rem;
  height: 10rem;
  border: 1px solid black;
  overflow-y: scroll;
}

.display {
  font-size: 1.25rem;
  text-align: right;
}

.entry {
  margin: .25rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  font-size: 1.25rem;
  color: grey;
}

.entry button {
  margin: .25rem;
  padding: 0rem 1rem;
  font-size: 1.25rem;
  color: dodgerblue;
  border: none;
  border-radius: .25rem;
}

.button-icon {
  height: 1rem;
  width: 1rem;
}

.keypad {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.numbers div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.numbers button {
  height: 3rem;
  width: 3rem;
  margin: .25rem;
  padding: .5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: whitesmoke;

}

.operations {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.operations button {
  height: 3rem;
  width: 3rem;
  margin: .25rem;
  padding: .5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: gainsboro;
}

.actions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.actions button {
  margin: .25rem;
  padding: .75rem;
  font-size: 1.25rem;
  border-radius: 1.25rem;
  border: none;
  background-color: lightskyblue;
}
